{{#if asignaturas}}
<table class="table table-bordered table-hover table-secondary">
    <thead>
        <tr class="text-center">
            <th>Num.</th>
            <th>Nombre</th>
            <th>Creditos</th>
            <th>Horas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each asignaturas}}
        <tr>
            <td>{{@index}}</td>
            <td>{{nombre}}</td>
            <td>{{creditos}}</td>
            <td>{{horas}}</td>
            <td>
                {{#if opcion}}
                <a href="/status/asignaturas/{{_id}}" class="btn btn-outline-warning">No disponible</a>
                {{else}}
                <a href="/status/asignaturas/{{_id}}" class="btn btn-outline-success">Disponible</a>
                {{/if}}
                <a href="/update/asignaturas/{{_id}}" class="btn btn-outline-primary">Actualizar</a>
                <a href="/delete/asignaturas/{{_id}}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
    <h1>No hay asignaturas</h1>
    <img src="/icons/file.png" class="w-75">
</div>
</div>
{{/if}}

<script src="../../../js/asignaturaTabla-js.js"></script>